.container {
    display: flex;
    border: 4px solid black;
    width: 100px;
    justify-content: space-between;
    height: 20px;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    background-color: #1f2a26;;
}

.display {
    display: flex;
    background: inherit;
    width: 70px;
    height: 100%;
    border-radius: 10px ;
    justify-content: center;
    align-items: center;
}

.minus,
.plus {
    width: 10px;
    height: 100%;
    font-size: 15px;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}


