.container {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
}

.emptyContainer,
.cartContainer {
    margin: 50px auto;
    background-color: #0f1a17;
    padding: 20px;
    border-radius: 5%;
}

.cartContainer {
    min-height: 20vh;
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
}

.itemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.image {
    height: 100px;
}

.descBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemTitle {
    font-size: 20px;
    font-weight: 500;
}

.priceBlock {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-right: 40px;
}