.container {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 0px;
    background-color: #d6d0d000;
    min-height: max-content;
    padding: 10px;
    color: inherit;
    font-weight: 700;
    width: 100%;
}