.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    color: black;
    place-items: center;
}

.heroImg,
.heroText {
    grid-area: 1/1;
}

.heroImg {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.heroText {
    position: relative ;
    z-index: 10;
    display: flex;
    flex-direction: column;
    place-items: center;
    opacity: 0.3;
    bottom: 10%;
}

