@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  color: #f4f6f5;
  background-color: #1f2a26;
}

a {
  text-decoration: none;
  color: inherit;
}



