.container {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: max(max-content,400px);
   align-items: center;
   padding: 10px;
   border: 4px solid black;
   border-radius: 8px;
   background-color: #0f1a17;
   justify-content: space-between;
}

.image {
    width: 200px;
    height: 300px
}

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}