.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    
}

.textContainer {
    margin: 50px auto;
    background-color: #0f1a17;
    height: 90vh;
    width: 90vw;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 18px;

}